/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #195e83; /* Replace with your preferred color */
    color: white;
    padding: 20px;
    text-align: center;
}

/* h1 styles */
h1 {
    font-weight: 400;
}

/* Navbar styles */
#navbar {
    overflow: hidden;
    background-color: #195e83; /* Replace with your preferred color */
    border-bottom: solid 15px #111; /* Replace with your preferred color */
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd; 
    color: black; 
}

/* Container styles */
#container {
    margin: 2% 5%;
    padding: 10px;
}

/* Card styles */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 50%;
    margin: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #333; 
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

/* Footer styles */
footer {
    background-color: #195e83; /* Same color as header */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

footer p {
    color: white;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
